html{
    overflow-x: hidden;
}
h1 {
  font-size: 4rem;
  display: inline;
}

p {
  font-size: 1.5rem;
}
body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  color: white;
  background: #202731;
  overflow-x: hidden;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 100px;
}

.blue {
  background: #3c31dd;
}
p{
    width: 50%;
}
.red {
  background: #dd3f31;
}

.pink {
  background: #ff0066;
  overflow: hidden;
}

.dark {
  background: #0f0f10;
}
.projects{
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project-card img{
   display: inline-block;
  cursor: pointer;
   width: 100%;
  /* transition: transform 0.3s ease-out ;*/
}
.project-card .demo-pictures:hover{
   /* transform: scale(2); doesnt need scaling just gets in the way*/
}
.project-card {
   
    width: 400px;
    text-align: center;

}
.link{
    width: inherit;
    
}

a{
    display: flex;
    width: inherit;
    justify-content: center;
    font: 5px;
    gap: 10px;
     text-decoration: none;
     color: white;
}
a:visited{
  

}
.githubimg{
    max-width: 20px; /*figure out a better solution */
    height: auto;
}
span{
    display: flex;
    align-items: center;
}
/* Curved bg with plain CSS */

.curve {
  position: absolute;
  height: 250px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  background-color: #202731;
}

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #3c31dd;
  transform: translate(-4%, 40%);
  z-index: -1;
}

/* Bubble bg with plain CSS */

.bubble::after {
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: #0f0f10;
  height: 85%;
}
.skills{
    display: flex;
   /* flex-direction: row;*/
    flex-wrap: wrap;
    width: 400px;
    gap: 20px;
    
}
.flex_skills{
   
  display: flex;
  justify-content: center;
  align-items: center;
    border-radius: 50px;
  background-color:#202731;
}
.flex_skills:hover{
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 1);
}
.skillsimg {
   
    display: inline-block;
   width: 80px;
   height:auto;
    
}
.skillsimg:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Curved bg with SVG via https://www.shapedivider.app/ */

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(103% + 1.3px);
  height: 262px;
}

.wave .shape-fill {
  fill: hsl(240, 3%, 6%);
}

/* SVG background image via https://haikei.app/ */

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('./layer1.svg');
}
.layer2 {
  background-image: url('./layer2.svg');
}

.flip {
  transform: rotate(180deg);
}

/* Blobs SVG background image via https://haikei.app/ */

.blob-motion {
  position: absolute;
  transform: translateY(-20%);
  z-index: 0;
}

.blob-content {
    user-select: none;
    text-align: center;
  z-index: 1;
}

.blobs {
  width: 100%;
  background: url('./blobs.svg') no-repeat bottom / cover;
}

.links{
display: flex;
justify-content: center;
gap: 100px;

}
.linksimg{
    width: 80px;
    cursor: pointer;
}
.linksimg:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* ----- -- ------FORM --------------*/

/* Global Styles */
.contactme{
   display: flex;
    justify-content: center;
  
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form{
   text-decoration: none;
   border-radius: 1rem;
   width: 500px;
   outline: none;
}
#emailcontent{
    padding: 10px;
    height: 30px;
}
#messagecontent{
    padding: 10px;
    height: 400px;
}
#submitbtn{
    background-color: white;
    border-radius:1rem ;
    width: 50%;
    cursor: pointer;
}
#submitbtn:hover{

}